<a href="/movies/">Go back</a>

{{!-- {{#each movies}}
  <p>{{this.title}}</p>
  <a href="/movies/{{this._id}}">View movie</a>
  <hr />
{{/each}} --}}

<h4>{{foundMovie.title}}</h4>
<p>{{pet.color}}</p>
<p>{{pet.age}}</p>
<p>{{pet.type}}</p>